a {
    color: currentColor;
    text-decoration: none;
  }


  .link-back {
    display: block;
    margin-bottom: 24px;
    padding: 4px 4px;

    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.04em;

    background-color:lightgrey;
    color: #2e2f42;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 96px;
    height: 36px;
  }

  .link-back:hover,
  .link-back:focus {
    border: 1px solid #808080;
  }

  .input {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;

    display: block;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;

    margin-bottom: 16px;
  }

  .input:hover,
  .input:focus {
    border: 1px solid #000;
  }

  .greet {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;
  }